include README.md
include LICENSE
include Cargo.toml

recursive-include src/native_dumper/core/queries/*.sql
recursive-include src/native_dumper/core/ *.pyi
recursive-include src/native_dumper *.sql

prune src/native_dumper/core/pyo3http/target
prune */target
prune target

global-exclude *.rs
global-exclude *.toml
global-exclude *.pyd
global-exclude *.so
global-exclude *.dylib
global-exclude *.dll
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.*~
global-exclude *.orig
global-exclude *.log
