--extra-index-url https://dns-technologies.github.io/dbhose-dev-pip/simple/
base-dumper==0.3.0.dev0
csvpack==0.2.0.dev0
light-compressor==0.1.1.dev3
nativelib==0.2.5.dev4
urllib3>=1.26.11
brotli>=1.2.0
